[submodule "SharpHound3"]
	path = SharpHound3
	url = https://github.com/BloodHoundAD/SharpHound3.git
[submodule "Rubeus"]
	path = Rubeus
	url = https://github.com/GhostPack/Rubeus.git
[submodule "Certify"]
	path = Certify
	url = https://github.com/GhostPack/Certify.git
[submodule "Inveigh"]
	path = Inveigh
	url = https://github.com/Kevin-Robertson/Inveigh
[submodule "Seatbelt"]
	path = Seatbelt
	url = https://github.com/GhostPack/Seatbelt
[submodule "StandIn"]
	path = StandIn
	url = https://github.com/FuzzySecurity/StandIn
